@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 14px;
  margin: 0;
}

ul, li, dl, dd, dt, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.markdown-body {
  position: relative;
  z-index: 9999;
}

/* 可排序树 */
.rst__moveHandle,
.rst__loadingHandle,
.rst__rowContents {
  box-shadow: none!important;
}
.rst__lineBlock,
.rst__absoluteLineBlock,
.rst__collapseButton,
.rst__expandButton,
.rst__lineChildren::after {
  display: none!important;
}
.rst__rowWrapper {
  padding: 5px 10px 5px 0!important;
}
.rst__node {
  left: -20px !important;
}
