.main {
  display: flex;
}

.mainArea {
  flex: 1;
}

.editToolBar {
  padding: 0 10px 0 0;
  line-height: 40px;
  background: #f5f5f5;
}

.toolsList {
  overflow: hidden;
}

.toolsItem {
  float: left;
  min-width: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #108ee9;
  }
  &.right {
    float: right;
  }
}

.sider {
  width: 300px;
  margin-left: 30px;
}

.buttonGroup {
  margin: 0 -10px;
  padding: 10px 10px 0;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
}

.hidden {
  display: none;
}

.lastMargin {
  margin-bottom: 0;
}
